In [19]:
import sqlite3
import pandas as pd

In [20]:
conn = sqlite3.connect("../data/output/books_metadata.db")

# Simple query to see all data
cursor = conn.execute("SELECT * FROM processed_authors;")
rows = cursor.fetchall()
df = pd.DataFrame(rows, columns=[description[0] for description in cursor.description])

print("All data in processed_authors table:")
print("=" * 50)

for i, row in enumerate(rows, 1):
    print(f"Row {i}: {row}")

conn.close()

All data in processed_authors table:
==================================================
Row 1: (0, 'Estelle Laure', '2025-08-27 15:03:42.906791', 11, 10, 1)
Row 2: (1, 'Diana Velez', '2025-08-27 15:03:46.937104', 2, 2, 1)
Row 3: (2, 'Brod, Max', '2025-08-27 15:03:53.023293', 0, 0, 0)
Row 4: (3, 'Kate Alcott', '2025-08-27 15:03:58.873926', 6, 4, 1)
Row 5: (4, 'Kirby Larson', '2025-08-27 15:04:04.931603', 36, 29, 1)
Row 6: (5, 'Sam Siciliano', '2025-08-27 15:18:43.715042', 15, 12, 1)
Row 7: (6, 'George Crenshaw', '2025-08-27 15:18:51.253853', 5, 4, 1)
Row 8: (7, 'Jennifer Haymore', '2025-08-27 15:18:53.014622', 25, 23, 1)
Row 9: (8, 'Reyna Grande', '2025-08-27 15:18:53.838845', 8, 5, 1)
Row 10: (9, 'Maureen Tan', '2025-08-27 15:18:55.492897', 4, 4, 1)
Row 11: (10, 'Sharon Ihle', '2025-08-28 09:06:23.395814', 12, 9, 1)
Row 12: (11, 'James Ellroy', '2025-08-28 09:06:26.883462', 41, 30, 1)
Row 13: (12, 'Randy Ribay', '2025-08-28 09:06:28.923831', 8, 7, 1)
Row 14: (13, 'W. R. Philbrick', '2025-08-28 09:06:29.544434', 3, 3, 1)
Row 15: (14, 'Jaclyn Reding', '2025-08-28 09:06:31.642992', 16, 12, 1)

In [18]:
df

,processing_order,author_name,processed_date,raw_books_count,deduplicated_books_count,books_found
0,0,Estelle Laure,2025-08-27 15:03:42.906791,11,10,1
1,1,Diana Velez,2025-08-27 15:03:46.937104,2,2,1
2,2,"Brod, Max",2025-08-27 15:03:53.023293,0,0,0
3,3,Kate Alcott,2025-08-27 15:03:58.873926,6,4,1
4,4,Kirby Larson,2025-08-27 15:04:04.931603,36,29,1
5,5,Sam Siciliano,2025-08-27 15:18:43.715042,15,12,1
6,6,George Crenshaw,2025-08-27 15:18:51.253853,5,4,1
7,7,Jennifer Haymore,2025-08-27 15:18:53.014622,25,23,1
8,8,Reyna Grande,2025-08-27 15:18:53.838845,8,5,1
9,9,Maureen Tan,2025-08-27 15:18:55.492897,4,4,1

In [22]:
path = "../data/temp/deduplicated_books_manual__2025-08-28T09:06:14+00:00.json"
books_df = pd.read_json(path)

In [34]:
print(books_df.keys())
print(books_df['id'])
print(books_df['volumeInfo'][0])
print(books_df['saleInfo'][0])

Index(['id', 'volumeInfo', 'saleInfo'], dtype='object')
0     bR9bi6RTeioC
1     oaAyZc_vIyAC
2     8yW_pXqj9o0C
3     8yWeswEACAAJ
4     U3OQtbhEdGUC
          ...
56    py0KAAAACAAJ
57    KvHCxYudalgC
58    mjLDAQAACAAJ
59    4vISfDdPP6gC
60    p6_hPAAACAAJ
Name: id, Length: 61, dtype: object
{'title': 'Marrying Miss Shylo', 'authors': ['Sharon Ihle'], 'publisher': 'HarperPrism', 'publishedDate': '1994', 'description': "Desperate to travel from New York to California to find her mother, Shylo McBride cajoled wealthy Dimitri Adonis into being her escort. Thousands of miles and hundreds of kisses later, they discovered the surprising truth of each other's motives, and a love that transcended it all. Sharon Ihle is also the author of The Law and Miss Penny.", 'pageCount': 374, 'categories': ['Fiction'], 'imageLinks': {'thumbnail': 'http://books.google.com/books/content?id=bR9bi6RTeioC&printsec=frontcover&img=1&zoom=1&source=gbs_api'}, 'language': 'en', 'previewLink': 'http://books.google.com/books?id=bR9bi6RTeioC&q=inauthor:Sharon+Ihle&dq=inauthor:Sharon+Ihle&hl=&as_pt=BOOKS&cd=5&source=gbs_api'}
{'country': 'US', 'saleability': 'NOT_FOR_SALE'}

In [31]:
books_df['volumeInfo'][0]

{'title': 'Marrying Miss Shylo',
 'authors': ['Sharon Ihle'],
 'publisher': 'HarperPrism',
 'publishedDate': '1994',
 'description': "Desperate to travel from New York to California to find her mother, Shylo McBride cajoled wealthy Dimitri Adonis into being her escort. Thousands of miles and hundreds of kisses later, they discovered the surprising truth of each other's motives, and a love that transcended it all. Sharon Ihle is also the author of The Law and Miss Penny.",
 'pageCount': 374,
 'categories': ['Fiction'],
 'imageLinks': {'thumbnail': 'http://books.google.com/books/content?id=bR9bi6RTeioC&printsec=frontcover&img=1&zoom=1&source=gbs_api'},
 'language': 'en',
 'previewLink': 'http://books.google.com/books?id=bR9bi6RTeioC&q=inauthor:Sharon+Ihle&dq=inauthor:Sharon+Ihle&hl=&as_pt=BOOKS&cd=5&source=gbs_api'}

In [35]:
# inspect parquet files
import pandas as pd
df = pd.read_parquet('/tmp/books_20250827_150408.parquet')
print(df.columns.tolist())
print(df.dtypes)
print(df.head())

['id', 'volumeInfo', 'saleInfo']
id            object
volumeInfo    object
saleInfo      object
dtype: object
             id                                         volumeInfo  \
0  YuAMBgAAQBAJ  {'authors': ['Estelle Laure'], 'averageRating'...
1  7yM-EAAAQBAJ  {'authors': ['Estelle Laure'], 'averageRating'...
2  cR0QEAAAQBAJ  {'authors': ['Estelle Laure'], 'averageRating'...
3  eVC9DwAAQBAJ  {'authors': ['Estelle Laure'], 'averageRating'...
4  4Uw8DQAAQBAJ  {'authors': ['Estelle Laure'], 'averageRating'...

                                            saleInfo
0  {'buyLink': 'https://play.google.com/store/boo...
1  {'buyLink': 'https://play.google.com/store/boo...
2  {'buyLink': 'https://play.google.com/store/boo...
3  {'buyLink': 'https://play.google.com/store/boo...
4  {'buyLink': None, 'country': 'US', 'listPrice'...